.banner-container {
    background-image: url('../../../img/banner-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    border: 2px solid red;
}

.banner-info {
    border: 2px solid blue;
}